.change-password-modal-overlay {
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display         : flex;
    align-items     : center;
    justify-content : center;
    z-index         : 1000;
}

.change-password-modal-container {
    position        : relative;
    width           : 500px;
    background-color: white;
    border-radius   : 10px;
    padding         : 20px;
    box-shadow      : 0 4px 8px rgba(0, 0, 0, 0.2);
}

.change-password-modal-header {
    margin-bottom: 20px;
    text-align   : center;
}

.change-password-alert {
    margin-bottom: 20px;
}

.change-password-form-label {
    margin-bottom: 10px;
}

.change-password-form-control {
    margin-bottom: 15px;
    height       : 50px;
    border-radius: 20px;
}

.change-password-btn {
    width           : 100%;
    background-color: #06bbcc;
    color           : white;
    border          : none;
    padding         : 10px 20px;
    font-size       : 16px;
    border-radius   : 20px;
    cursor          : pointer;
    transition      : background-color 0.3s ease, color 0.3s ease;
    margin-top      : 30px;
}

.change-password-btn:hover {
    background-color: #03999f;
    color           : #fff;
}


.change-password-close-button {
    position  : absolute;
    top       : 10px;
    right     : 10px;
    background: transparent;
    border    : none;
    font-size : 1.5rem;
    cursor    : pointer;
}




.btn-redirect {
    width           : 100%;
    background-color: #06bbcc;
    color           : white;
    border          : none;
    padding         : 10px 20px;
    font-size       : 16px;
    border-radius   : 20px;
    cursor          : pointer;
    transition      : background-color 0.3s ease, color 0.3s ease;
    margin-top      : 30px;
}

.btn-redirect {
    background-color: #03999f;
    color           : #fff;
}